.background{
   -fx-background-image: url("../images/tictactoe.png");
       -fx-background-repeat: stretch;
       -fx-background-size: 900 506;
       -fx-background-position: center center;
       -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}
.main-btn {
    -fx-background-color:
        #000000,
        linear-gradient(#138d1f, #00ff5c),
        linear-gradient(#138d1f, #00ff5c),
        linear-gradient(#138d1f,#00ff5c);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-font-size: 1.3em;
    -fx-cursor:hand;
    -fx-font-family: "Consolas";
}
.main-btn:hover{
    -fx-background-color:
        #000000,
        linear-gradient(#00ff5c, #138d1f),
        linear-gradient(#00ff5c, #138d1f),
        linear-gradient(#00ff5c,#138d1f);
}

.shape-btn{
    -fx-background-color: transparent;
    -fx-border-color: #00ff5c;
    -fx-text-fill: #00ff5c;
    -fx-font-weight: bold;
    -fx-font-size: 2.8em;
    -fx-cursor:hand;
    -fx-font-family: "Consolas";
}
.shape-btn:hover{
    -fx-background-color: #05eb18;
}

.add-btn {
    -fx-background-color:#168ab5;
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
    -fx-font-weight: bold;
    -fx-cursor:hand;
}
.update-btn {
    -fx-background-color:#da7420;
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
    -fx-font-weight: bold;
    -fx-cursor:hand;
}
.delete-btn {
    -fx-background-color:#da241a;
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
    -fx-font-weight: bold;
    -fx-cursor:hand;
}
.clear-btn {
    -fx-background-color:#a41ad9;
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
    -fx-font-weight: bold;
    -fx-cursor:hand;
}
.select-btn {
    -fx-background-color:#ae155d;

    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;

    -fx-font-weight: bold;
    -fx-cursor:hand;
}
.add-btn:hover, .update-btn:hover , .delete-btn:hover , .clear-btn:hover{
-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.95) , 6,0,0,1 );
}
.text-field {
	-fx-accent: #51c2d3;
	-fx-background-color: #138d1f, white;
	-fx-background-radius: 2;

}
.text-field:focused {
	-fx-background-color: #00ff5c, white;
}
.table-view{
    -fx-background-color:transparent;
    -fx-border-color:linear-gradient(to bottom,#00ff5c, #138d1f);
    -fx-border-radius:8px;
    -fx-padding:0px;
}
.table-view .table-column{
    -fx-alignment:CENTER;
}
.table-view .column-header-background{
    -fx-background-color:linear-gradient(to bottom,#00ff5c, #138d1f);
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius:8px 8px 0px 0px;
}
.table-view .column-header, .filter{
    -fx-background-color: transparent;
    -fx-size:40px;
}
.table-view .column-header .label{
    -fx-text-fill:#fff;
    -fx-font-family:"Consolas";
}